MONGODB_URI=

GITHUB_ID=
GITHUB_SECRET=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

COHERE_API_KEY=
COLLECTION_NAME=

CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=

GOOGLE_GENERATIVE_AI_API_KEY=